* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.1rem;
    color: #f8f9fa;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: page;
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)), url(../images/vinyl.jpg);
}

.footer {
    text-align: center;
    color: gainsboro;
    font-size: 1.5rem;
    margin: 0.5rem;
}


#welcome {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
}

#welcome li {
    font-size: 3.5em;
    color: #f8f9fa;
    list-style-type: none;
}

#welcome strong {
    margin-top: 1em;
    margin-bottom: 2em;
    color: #f8f9fa;
}

.steps-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(1em, 2fr));
}

.steps-container img {
    min-width: 4em;
    max-height: 5em;
    margin: auto;
    border-radius: 1em;
    text-align: left;
    padding: 0.5em;
}

#arrow-1 {
    margin-top: 2em;
}
#step-1{
    margin-top: 1em;
    margin-bottom: 1em;
}

#arrow-left {
    transform: scaleX(-1);
}

.step {
    border-radius: 1em;
    text-align: left;
    margin: 0.5em;
    min-width: auto;
    box-shadow: 0 0 2em 0 rgba(255, 0, 0, 0.8);
    padding: 0.5em;
    border-style: solid;
    border-width: 0.1em;
}


#step-2, #step-4 {
    grid-column-start: 2;
}

.step h2 {
    text-align: left;
    min-font-size: 0.3em;
    font-size: 2em;
}

.step h3 {
    text-align: left;
    min-font-size: 0.5em;
    font-size: 0.8em;
}

.hero-btn-container {
    text-align: center;
}

.hero-btn {
    font: 200% sans-serif;
    color: #f8f9fa;
    border: 1px solid #f8f9fa;
    padding: 1.2rem 3.4rem;
    margin: 2em 0.5em;
    /*margin-top: 2em;*/
    /*margin-bottom: 2em;*/
    background: transparent;
    position: static;
    cursor: pointer;
    border-radius: 0.5em;
    box-shadow: 0 0 2em 0 rgba(255, 0, 0, 0.8);
}