<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ion-rangeslider@2.3.1/css/ion.rangeSlider.min.css"/>
    <script src="/js/scripts.js"></script>

    <title>Main</title>
</head>

<body id="main-body">

<!--NAVIGATION BAR-->
<section class="header">
    <nav>
        <a th:href="@{/playlists}">
            <div id="logo">
                <h1 style="font-family: Forte, sans-serif;">RidePal</h1>
            </div>
        </a>
        <ul>
            <li th:unless="${isAuthenticated}"><a href="/login" th:href="@{/login}"
                                                  th:text="#{navigation.login}">Login</a></li>

            <li th:unless="${isAuthenticated}"><a href="RegisterView.html" th:href="@{/users/register}"
                                                  th:text="#{navigation.register}">SignUp</a>
            </li>
            <li th:if="${isAuthenticated}" class="nav-item"><a href="#" class="nav-link"
                                                               th:href="@{/songs}">Explore</a></li>
            <li th:if="${isAuthenticated}" class="nav-item"><a href="#" class="nav-link"
                                                               th:href="@{/logout}">Logout</a></li>
        </ul>

    </nav>

    <ul class="update-plus-admin">
        <li th:if="${isAdmin}" class="nav-item"><a href="#" class="nav-link"
                                                   th:href="@{/admins}">Admin Portal</a></li>
        <li th:if="${isAuthenticated}" class="nav-item"><a href="#" class="nav-link"
                                                           th:href="@{/users/update}">Update Profile</a></li>
    </ul>

</section>
<!--ENDS NAVIGATION BAR-->


<!--USER CARD-->
<section class="main-content">
    <div class="playlist-item" id="user-card">
        <img src="/images/defaultphoto.jpg" alt="Profile Image">
        <div id="user-info">
            <h2 th:text="${user.username}"></h2>
            <p th:text="'Email: '+ ${user.email}"></p>
            <p th:text="'Name: ' + ${user.firstName}"></p>
            <p th:text="'Surname: ' +${user.lastName}"></p>
            <p th:text="'Playlists count: '+ ${userPlaylists.size()}"></p>
        </div>
    </div>
</section>
<!--ENDS USER CARD-->

<!--DELETE ACCOUNT-->
<a th:href="@{/users/delete}" methods="get" class="delete-user" data-confirm="Are you sure?">Delete Account</a>

<!--ENDS DELETE ACCOUNT-->

<!-- USER PLAYLIST STARTS HERE --->
<h3 style="text-align: center; font-size: 8vmin" th:text="${user.username} + '\'s Playlists'">User's Playlists</h3>
<section class="main-content">
    <div th:each="playlist : ${userPlaylists}">
        <div class="playlist-item">
            <a th:href="@{/playlists/{id}(id=${playlist.id})}">
                <img class="playlist-item img playlistImage" alt="Playlist Image">
                <h3 th:text="${playlist.name}"></h3>
                <h4 th:text="'Creator: ' + ${playlist.creator.getUsername()}"></h4>
                <h4 th:text="'Duration: ' + ${playlist.duration/60} + ' min'"></h4>
                <h4 th:text="'Rank: ' + ${playlist.rank}"></h4>
            </a>
        </div>
    </div>
</section>
<!-- USER PLAYLIST ENDS HERE --->

<!-- FOOTER -->
<section class="footer">
    <h5>About Us</h5>
    <h5>Copyright &copy 2023 WeWhoAreNotAsOthers</h5>
</section>

</body>
</html>