<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:id="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <title>Main</title>
</head>
<body id="main-body">
<section class="header">
    <nav>
        <div id="logo">
            <!--            <img src="../images/logo-alt.gif" th:src="@{/images/logo-alt.gif}" alt="logo">-->
            <h1 style="font-family: Forte, sans-serif;">RidePal</h1>
        </div>
        <ul>
            <li><a href="PlaylistsView.html" th:href="@{/playlists}" th:text="#{navigation.playlists}">Playlists</a></li>
            <li><a href="/login" th:href="@{/login}" th:text="#{navigation.login}">Login</a></li>
            <li><a href="GenerateView.html" th:href="@{/playlists/generate}" th:text="#{navigation.generate}">Generate</a></li>
            <li><a href="RegisterView.html" th:href="@{/users/register}" th:text="#{navigation.register}">SignUp</a></li>
        </ul>
    </nav>


    <form class="search" action="#" id="search-form" th:action="@{/playlists}" method="get">
        <input type="text" name="name" placeholder="Search..." class="search-input" th:object="${name}">
        <a class="search-btn" type="submit"> </a>
    </form>

</section>

<div class="section-title">
    <h2>Top Ranked Playlists</h2>
</div>

<!-- BODY WITH TOP 10 PLAYLISTS -->
<section class="main-content">
    <div th:each="playlist : ${filteredPlaylists}">
        <div class="playlist-item" >
            <a th:href="@{/playlists/{id}(id=${playlist.id})}">
<!--            th:href="@{'/playlists/' + ${playlist.id}}"-->
            <img src="../images/logo-alt.gif" th:src="@{/images/logo-alt.gif}" alt="Playlist">
            <h3 th:text="${playlist.name}"></h3>
            <h4 th:text="'Creator: ' + ${playlist.creator.getUsername()}"></h4>
            <h4 th:text="'Duration: ' + ${playlist.duration/60} + ' min'"></h4>
            <h4 th:text="'Rank: ' + ${playlist.rank}"></h4>
            </a>
        </div>
    </div>
</section>

<!-- FOOTER -->
<section class="footer">
    <h5>About Us</h5>
    <h5>Copyright &copy 2023 WeWhoAreNotAsOthers</h5>
</section>
</body>
</html>