<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:id="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ion-rangeslider@2.3.1/css/ion.rangeSlider.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/ion-rangeslider@2.3.1/js/ion.rangeSlider.min.js"></script>
    <script src="/js/scripts.js"></script>

    <title>Main</title>


</head>
<body id="main-body">


<!--NAVIGATION BAR-->
<section class="header">
    <nav>
        <a th:href="@{/playlists}">
            <div id="logo">
                <h1 style="font-family: Forte, sans-serif;">RidePal</h1>
            </div>
        </a>
        <ul>
            <li th:unless="${isAuthenticated}"><a href="/login" th:href="@{/login}"
                                                  th:text="#{navigation.login}">Login</a></li>

            <li th:unless="${isAuthenticated}"><a href="RegisterView.html" th:href="@{/users/register}"
                                                  th:text="#{navigation.register}">SignUp</a>
            </li>
            <li th:if="${isAuthenticated}" class="nav-item"><a href="#" class="nav-link"
                                                               th:href="@{/users/myProfile}">MyProfile</a></li>
            <li th:if="${isAuthenticated}" class="nav-item"><a href="#" class="nav-link"
                                                               th:href="@{/logout}">Logout</a></li>

        </ul>
    </nav>

    <div id="search-line">
        <form class="search" action="#" id="search-form" th:action="@{/playlists}" method="get">
            <input type="text" name="tagName" placeholder="Search..." class="search-input" th:object="${tagName}">
            <a class="search-btn" type="submit"> </a>
        </form>
        <a class="utility-btn" id="generate-playlist" th:href="${isAuthenticated ? '/playlists/generate' : '/login'}"
           th:text="#{navigation.generate}">Generate Playlist</a>
    </div>
</section>
<!--ENDS NAVIGATION BAR-->

<div class="range-slider-form">
    <form id="filterForm" action="/playlists" method="get" class="range-slider-form">

        <label for="durationSlider">Minutes Range:</label>
        <input type="text" name="duration" id="durationSlider" class="duration-slider" />
        <input type="hidden" id="minDuration" name="minDuration" value="0" />
        <input type="hidden" id="maxDuration" name="maxDuration" value="600" />
        <div class="utility-btn">
            <a type="button" onclick="convertAndSubmit()">Search</a>
        </div>
    </form>
</div>

<div class="section-title">
    <h2>Top Ranked Playlists</h2>
</div>

<!-- BODY WITH TOP PLAYLISTS ORDERED BY RANK STARTS HERE -->
<section class="main-content">
    <div th:each="playlist : ${filteredPlaylists}">
        <div class="playlist-item">
            <a th:href="@{/playlists/{id}(id=${playlist.id})}">
                <!--            th:href="@{'/playlists/' + ${playlist.id}}"-->
                <img class="playlist-item img playlistImage" alt="Playlist Image">
                <h3 th:text="${playlist.name}"></h3>
                <h4 th:text="'Creator: ' + ${playlist.creator.getUsername()}"></h4>
                <h4 th:text="'Duration: ' + ${playlist.duration/60} + ' min'"></h4>
                <h4 th:text="'Rank: ' + ${playlist.rank}"></h4>
            </a>
        </div>
    </div>
</section>
<!-- BODY WITH TOP PLAYLISTS ORDERED BY RANK ENDS HERE -->

<script th:inline="javascript">
    var pageSize = /*[[${pageSize}]]*/ 0;
    var currentPage = /*[[${page}]]*/ 0;
</script>

<a th:if="${pageSize > page}" class="utility-btn" style="margin: 3%" href="#" onclick="incrementPage(pageSize)">Load more...</a>
<a th:if="${page > 0}" class="utility-btn" style="margin: 3%" href="#" onclick="decrementPage()">Load previous...</a>

<div class="section-title">
    <h2>Recently added</h2>
</div>

<!-- TOP 10 MOST RECENT PLAYLISTS STARTS HERE -->
<section class="main-content">
    <div th:each="playlist : ${filteredMostRecent}">
        <div class="playlist-item">
            <a th:href="@{/playlists/{id}(id=${playlist.id})}">
                <!--            th:href="@{'/playlists/' + ${playlist.id}}"-->
                <img class="playlist-item img playlistImage" alt="Playlist Image">
                <h3 th:text="${playlist.name}"></h3>
                <h4 th:text="'Creator: ' + ${playlist.creator.getUsername()}"></h4>
                <h4 th:text="'Duration: ' + ${playlist.duration/60} + ' min'"></h4>
                <h4 th:text="'Rank: ' + ${playlist.rank}"></h4>
            </a>
        </div>
    </div>
</section>


<!-- FOOTER -->
<section class="footer">
    <h5>About Us</h5>
    <h5>Copyright &copy 2023 WeWhoAreNotAsOthers</h5>
</section>


</body>
</html>