<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="registration-body">
    <div class="registration-container">
        <div class="registration-container-title" th:align="center">Registration Form</div>
        <form action="#" th:action="@{/users/register}" th:object="${user}" method="post">
            <div class="user-details">
                <div class="input-box">
                    <span class="user-details"></span>
                    <input type="text" th:field="*{firstName}" placeholder="Enter your Fist Name" required>
                </div>
                <label class="error" th:errors="*{firstName}">Name error placeholder</label>
                <div class="input-box">
                    <span class="user-details"></span>
                    <input type="text" th:field="*{lastName}" placeholder="Enter your Last Name" required>
                </div>
                <label class="error" th:errors="*{lastName}">Name error placeholder</label>
                <div class="input-box">
                    <span class="user-details"></span>
                    <input type="text" th:field="*{email}" placeholder="Enter your Email" required>
                </div>
                <label class="error" th:errors="*{email}">Name error placeholder</label>
                <div class="input-box">
                    <span class="user-details"></span>
                    <input  type="text" th:field="*{username}" placeholder="Enter your Username" required>
                </div>
                <label class="error" th:errors="*{username}">Name error placeholder</label>
                <div class="input-box">
                    <span class="user-details"></span>
                    <input type="password" th:field="*{password}" placeholder="Enter your Password" required>
                </div>
                <label class="error" th:errors="*{password}">Name error placeholder</label>
                <div class="input-box">
                    <span class="user-details"></span>
                    <input type="password" th:field="*{confirmPassword}" placeholder="Confirm your password" required>
                </div>
                <label class="error" th:errors="*{confirmPassword}">Name error placeholder</label>
            </div>
            <div class="button-container">
                <div class="button">
                    <button type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>