<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ion-rangeslider@2.3.1/css/ion.rangeSlider.min.css"/>
<script src="/js/scripts.js"></script>

<title>Main</title>
</head>
<body>
<section class="header">
    <nav>
        <a th:href="@{/playlists}">
            <div id="logo">
                <h1 style="font-family: Forte, sans-serif;">RidePal</h1>
            </div>
        </a>
        <ul>
            <li class="nav-item"><a href="#" class="nav-link"
                                    th:href="@{/admins}">Admin Panel</a></li>
            <li  class="nav-item"><a href="#" class="nav-link"
                                     th:href="@{/admins/synchronize}">Sync</a></li>
            <li class="nav-item"><a href="#" class="nav-link"
                                    th:href="@{/logout}">Logout</a></li>
        </ul>

    </nav>
</section>

<!--<section class="main-content">-->
<!--    <div th:each="user : ${allUsers}">-->
<!--        <form class = "delete-form"-->
<!--              th:action="@{'/admins/users/' + ${user.getId()} + '/delete'}" method="get">-->
<!--            <button type="submit" class="delete-element-btn">X</button>-->
<!--        </form>-->
<!--        <div class="playlist-item">-->
<!--            <h2 th:text="${user.username}"></h2>-->
<!--            <h3 th:text="${user.firstName}"></h3>-->
<!--            <h3 th:text="${user.lastName}"></h3>-->
<!--            <h3 th:text="${user.email}"></h3>-->
<!--            <h3> Authorities: <br>-->
<!--                <span th:each="authority : ${user.authorities}">-->
<!--        <span th:text="${authority.authority}"></span><br/>-->
<!--    </span>-->
<!--            </h3>-->

<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="main-content">
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Authorities</th>
            <th>Delete User</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${allUsers}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                    <span th:each="authority : ${user.authorities}">
                        <span th:text="${authority.authority}"></span><br/>
                    </span>
            </td>
            <td>
                <form class="delete-form"
                      th:action="@{'/admins/users/' + ${user.getId()} + '/delete'}" method="get">
                    <button type="submit" class="delete-element-btn" data-confirm="Are you sure?">X</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>


<section class="footer">
    <h5>About Us</h5>
    <h5>Copyright &copy 2023 WeWhoAreNotAsOthers</h5>
</section>
</body>
</html>