<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:id="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ion-rangeslider@2.3.1/css/ion.rangeSlider.min.css"/>
    <script src="/js/scripts.js"></script>

    <title>Main</title>
</head>
<body>
<section class="header">
    <nav>
        <a th:href="@{/playlists}">
            <div id="logo">
                <h1 style="font-family: Forte, sans-serif;">RidePal</h1>
            </div>
        </a>
        <ul>
            <li th:if="${isAuthenticated}" class="nav-item"><a href="#" class="nav-link" th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>

</section>

<div class="update-profile">
    <h3>Update Profile</h3>
    <div class="update-profile-container">
        <form action="#" th:action="@{/users/update}" th:object="${userToUpdate}" method="post">
            <div class="user-details">
                <div class="input-box">
                    <input type="text"  th:field="*{firstName}" placeholder="Enter your First Name" required>
                </div>
                <div class="input-box">
                    <input type="text" th:field="*{lastName}" placeholder="Enter your Last Name" required>
                </div>
                <div class="input-box">
                    <input type="text" th:field="*{email}" placeholder="Enter your Email" required>
                </div>
                <div class="input-box">
                    <input type="password" th:field="*{password}" placeholder="Enter your Password" required>
                </div>
            </div>
        </form>
    </div>
    <div class="button">
        <button type="submit">UPDATE</button>
    </div>
</div>

<!-- FOOTER -->
<section class="footer">
    <h5>About Us</h5>
    <h5>Copyright &copy 2023 WeWhoAreNotAsOthers</h5>
</section>
</body>
</html>