<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="update-profile">
    <div class="update-profile-container">
        <h3>Update Profile</h3>
        <form action="#" th:action="@{/users/update}" th:object="${userToUpdate}" method="post">
            <div class="user-details">
                <div class="input-box">
                    <input type="text"  th:field="*{firstName}" placeholder="Enter your Fist Name" required>
                </div>
                <div class="input-box">
                    <input type="text" th:field="*{lastName}" placeholder="Enter your Last Name" required>
                </div>
                <div class="input-box">
                    <input type="text" th:field="*{email}" placeholder="Enter your Email" required>
                </div>
                <div class="input-box">
                    <input type="password" th:field="*{password}" placeholder="Enter your Password" required>
                </div>
                <div class="button">
                    <button type="submit">UPDATE</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>